<p id="notice"><%= notice %></p>

<h1>Inscripciones</h1>

<table>
  <thead>
    <tr>
      <th>Id inscripcion</th>
      <th>Documento</th>
      <th>Curso</th>
      <th>Estrato</th>
      <th>Valor credito</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inscripciones.each do |inscripcione| %>
      <tr>
        <td><%= inscripcione.id_inscripcion %></td>
        <td><%= inscripcione.documento %></td>
        <td><%= inscripcione.curso %></td>
        <td><%= inscripcione.estrato %></td>
        <td><%= inscripcione.valor_credito %></td>
        <td><%= link_to 'Show', inscripcione %></td>
        <td><%= link_to 'Edit', edit_inscripcione_path(inscripcione) %></td>
        <td><%= link_to 'Destroy', inscripcione, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva inscripción', new_inscripcione_path %>
<%= link_to 'Página principla', root_path %>

